___
# Atividade: Variáveis quantitativas com Expectativa de Vida
___

## Aula 03



**Preparo prévio:**
1.	Leitura prévia necessária: Magalhães e Lima (7ª. Edição): pág. 9 a 17 – destacando para variáveis quantitativas; pág. 106 e 107 (Definição 4.1 e Exemplo 4.1).

**Hoje:**
1. Explorar a variável quantitativa Expectativa de Vida de diversos países do mundo nos anos: 1800, 1926 e 2000. 
2. Construir tabelas de frequências e interpretar resultados considerando variáveis quantitativas de forma univariada. 
4. Explicar vantagens e desvantagens sobre o uso da frequência ou da densidade na construção de um histograma e saber interpretá-lo. 
5. Desenvolver contas para obtenção da média e mediana nos três anos.
6. Identificar o formato dos dados (simétrico, assimétrico positivo ou assimétrico negativo) ao observar um histograma e explicar o que cada formato pode impactar nas medidas de posição.


**Próxima aula:**
1. Leitura prévia necessária: Magalhães e Lima (7ª. Edição): pág. 18 a 25; pág. 106 e 107 (Definição 4.1 e Exemplo 4.1); pág. 116 e 117 (Definição 4.4 e Exemplo 4.8). 
2. Leitura prévia necessária: Montgomery et al (5ª. Edição): pág. 24 a 28.
___

## <font color='blue'>Expectativa de Vida - LIFE</font>

O Banco Mundial (http://data.worldbank.org/brazilian-portuguese) disponibiliza bases de dados estatísticos para um pouco mais de 200 países do mundo desde o ano 1800, as quais consideram uma seleção abrangente de indicadores econômicos, sociais e ambientais. Um desses indicadores é a expectativa de vida (em anos) de cada país.

O arquivo `Life.xlsx` contém a expectativa de vida de vários países para os anos 1800, 1926 e 2000.

Considerando esses dados, faça as seguintes tarefas:

1.	Construa uma tabela de frequências absolutas e relativas (em %) para cada um dos anos. 

2.	Construa um histograma para cada ano e interprete os gráficos. 

3. De acordo com o formato de um histograma, é possível classificar a distribuição dos dados como sendo: simétrica, assimétrica positiva (ou a direita) ou assimétrica negativa (ou a esquerda). Observando o formato de cada histograma construído no item anterior, classifique como sendo simétrico, assimétrico positivo ou assimétrico negativo. Argumente claramente o motivo de sua classificação. 
![AssimSim](AssimSim.jpg)

4.	Para cada ano, calcule a expectativa média de vida, a expectativa mediana de vida e a classe modal.

5.	Para cada um dos três anos, ordene os valores das medidas de posição (média, mediana e classe modal) obtidas no item anterior. A ordem dessas três medidas de posição é um mero acaso ou pode ser consequência do formato dos dados? Argumente claramente sua resposta.

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os
from numpy import arange

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Bruno Dratcu\Desktop\2o DP\CD\Aula3

In [8]:
dados = pd.read_excel('Life.xlsx')

dados.head()

In [10]:
dados.iloc[:,:]

                       Pais     L1800      L1926   L2000
0               Afghanistan  28.21100  26.919920  51.000
1                   Albania  35.40000  35.400000  74.200
2                   Algeria  28.82240  30.968000  73.200
3                    Angola  26.98000  26.980000  52.600
4       Antigua and Barbuda  33.53600  37.673931  73.900
5                 Argentina  33.20000  52.940000  74.300
6                   Armenia  33.99500  44.665000  71.400
7                     Aruba  34.41900  38.556931  73.783
8                 Australia  34.05000  62.940000  79.700
9                   Austria  34.40000  53.614000  78.200
10               Azerbaijan  29.16500  39.835000  68.000
11                  Bahamas  35.17900  39.316931  70.300
12                  Bahrain  30.30000  30.300000  73.600
13               Bangladesh  25.50000  24.900000  65.800
14                 Barbados  32.12400  36.261931  74.300
15                  Belarus  36.20000  48.322000  68.200
16                  Belgium  40.00000  56.970000  77.800
17                   Belize  26.50000  35.500000  69.000
18                    Benin  31.00000  31.000000  59.200
19                   Bhutan  28.79900  28.799000  63.900
20                  Bolivia  33.00000  33.000000  67.600
21   Bosnia and Herzegovina  35.10000  38.364400  75.200
22                 Botswana  33.60000  33.600000  51.600
23                   Brazil  32.00000  31.990720  71.900
24                   Brunei  29.20000  39.750769  75.500
25                 Bulgaria  35.80000  45.300000  71.700
26             Burkina Faso  29.20000  29.200000  53.300
27                  Burundi  31.50000  26.000000  47.500
28                 Cambodia  35.00000  35.000000  60.900
29                 Cameroon  28.75000  28.750000  55.000
..                      ...       ...        ...     ...
171                  Sweden  32.16000  62.790000  79.700
172             Switzerland  38.00000  60.640000  80.000
173                   Syria  31.10000  31.100000  73.800
174                  Taiwan  28.30000  37.000000  76.000
175              Tajikistan  24.23500  34.905000  66.300
176                Tanzania  32.20000  32.200000  54.800
177                Thailand  30.40000  30.400000  71.300
178             Timor-Leste  28.94900  28.949000  63.600
179                    Togo  31.30000  31.300000  59.000
180                   Tonga  28.20000  29.389080  69.100
181     Trinidad and Tobago  32.90000  42.250000  69.400
182                 Tunisia  28.80000  29.526000  75.000
183                  Turkey  35.00000  35.000000  71.500
184            Turkmenistan  24.00000  33.126000  63.100
185                  Uganda  25.30000  24.180000  50.000
186                 Ukraine  36.60000  45.950000  67.500
187    United Arab Emirates  30.70000  30.700000  73.800
188          United Kingdom  38.64976  59.660000  77.800
189           United States  39.41000  57.900000  77.100
190                 Uruguay  32.90000  34.216160  74.600
191              Uzbekistan  26.92600  37.596000  67.400
192                 Vanuatu  24.30000  24.300000  63.000
193               Venezuela  32.20000  32.200000  74.300
194      West Bank and Gaza  32.10000  32.100000  73.500
195          Western Sahara  34.75300  34.753000  62.636
196                 Vietnam  32.00000  32.000000  72.600
197   Virgin Islands (U.S.)  33.40300  37.540931  77.574
198             Yemen, Rep.  23.38700  23.387000  63.500
199                  Zambia  32.60000  32.600000  45.700
200                Zimbabwe  33.70000  33.700000  50.800

[201 rows x 4 columns]

In [19]:
l1800 = dados["L1800"]
l1800.describe()

count    201.000000
mean      31.485800
std        3.763625
min       23.387000
25%       29.000000
50%       31.800000
75%       33.900000
max       42.845599
Name: L1800, dtype: float64

In [18]:
renda1800 = pd.cut(dados["L1800"], bins=10)

renda1800.value_counts(True)

(31.17, 33.116]        0.243781
(29.225, 31.17]        0.184080
(35.0622, 37.00802]    0.119403
(33.116, 35.0622]      0.119403
(25.333, 27.279]       0.114428
(27.279, 29.225]       0.109453
(23.368, 25.333]       0.049751
(37.00802, 38.954]     0.034826
(38.954, 40.9]         0.019900
(40.9, 42.846]         0.004975
Name: L1800, dtype: float64

In [33]:
faixa = arange(82,22,4)

In [34]:
renda1800 = pd.cut(renda1800, faixa, False)
print('Frequências relativas:')

ut1 = (renda1800.value_counts(True)*100).round(decimals=1).reindex(['[31.17, 33.116)', '[29.225, 31.17)', 
                                                                    '[35.0622, 37.00802)', '[33.116, 35.0622)', '[25.333, 27.279)', 
                                                                    '[27.279, 29.225)', '[23.368, 25.333)', '[37.00802, 38.954)', 
                                                                    '[38.954, 40.9)', '[40.9, 42.846)'])
print(ut1,'\n')

Frequências relativas:

IndexError: cannot do a non-empty take from an empty axes.

In [21]:
l1926 = dados["L1926"]
l1926.describe()

count    201.000000
mean      36.353496
std        9.590987
min       23.387000
25%       30.400000
50%       32.800000
75%       39.360000
max       63.260000
Name: L1926, dtype: float64

In [20]:
renda1926 = pd.cut(dados["L1926"], bins=10)

renda1926.value_counts(True)

(31.362, 35.349]    0.273632
(27.374, 31.362]    0.223881
(35.349, 39.336]    0.129353
(23.347, 27.374]    0.119403
(39.336, 43.323]    0.069652
(51.298, 55.285]    0.044776
(59.273, 63.26]     0.039801
(47.311, 51.298]    0.039801
(55.285, 59.273]    0.034826
(43.323, 47.311]    0.024876
Name: L1926, dtype: float64

In [23]:
l2000 = dados["L2000"]
l2000.describe()

count    201.000000
mean      68.012856
std        9.211812
min       45.700000
25%       61.400000
50%       71.200000
75%       75.000000
max       81.100000
Name: L2000, dtype: float64

In [22]:
renda2000 = pd.cut(dados["L2000"], bins=10)

renda2000.value_counts(True)

(70.48, 74.02]     0.203980
(74.02, 77.56]     0.179104
(77.56, 81.1]      0.139303
(66.94, 70.48]     0.114428
(59.86, 63.4]      0.079602
(49.24, 52.78]     0.079602
(63.4, 66.94]      0.069652
(52.78, 56.32]     0.059701
(56.32, 59.86]     0.049751
(45.665, 49.24]    0.024876
Name: L2000, dtype: float64

count**0.5 =~ 14

max-min: 

--L1800: 11.3 

--L1926: 39.8

--L2000: 35.4

In [ ]:
list(range(82,22,4))