___
# PROJETO 1

## Bruno Dratcu
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

In [1]:
UF = unidade de federação 

V0202 = tipo do domicilio (2 = casa, 4 = apartamento, 6 = comodo)
V0205 = numero de comodos do domicilio
V4620 = numero de componentes do domicilio

V0207 = condição de ocupação do domicilio (1=proprio-ja pago, 2=proprio-ainda pagando, 3=alugado, 4=cedido por empregador, 5=cedido de outra forma, 6=outra condição)
V4621 = rendimento mensal domiciliar per capita

V02322 = tem acesso a internet no proprio domicilio (2 = sim, 4 = nao)

V0215 = tem banheiro no domicilio (1=sim, 3=nao)
V2016 = numero de banheiros 
V0217 = forma de escoadouro do banheiro
V0212 = proveniencia da agua canalizada (2=rede de distribuição, 4=poço ou nascente, 6=outros)

SyntaxError: invalid syntax (<ipython-input-1-c74504a897c6>, line 1)

___
## Análise e Resultados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Bruno Dratcu\Desktop\2o DP\CD\CD1S17\Projeto1

In [3]:
dados2015=pd.read_csv('DOM2015.csv',sep=',')

In [4]:
dados2015.head()

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V4611,V4614,UPA,V4617,V4618,V4620,V4621,V4622,V4624,V9992
0,0,2015,11,15,1,1,1.0,1.0,1.0,4.0,...,270.0,800.0,191,110001,1,1.0,800.0,4.0,1.0,20161104
1,1,2015,11,15,2,6,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,1,NaN,NaN,NaN,NaN,20161104
2,2,2015,11,15,3,1,1.0,1.0,1.0,4.0,...,270.0,1150.0,191,110001,1,1.0,1150.0,4.0,1.0,20161104
3,3,2015,11,15,4,1,6.0,4.0,1.0,2.0,...,270.0,4760.0,191,110001,1,6.0,793.0,4.0,2.0,20161104
4,4,2015,11,15,5,1,2.0,2.0,1.0,2.0,...,271.0,5800.0,191,110001,1,2.0,2900.0,6.0,2.0,20161104

In [ ]:
dados = dados2015.iloc[:,["UF","V0202","V0205",
                          "V0207","V4621","V2015",
                          "V0216","V0217","V0212"]]

In [6]:
dados = pd.DataFrame()

dados["Domicílio"] = dados2015.V0202
dados["Quantidade de Cômodos"] = dados2015.V0205
dados["Condição de ocupação"] = dados2015.V0207
dados["Rendimento mensal"] = dados2015.V4621
dados["Banheiro/sanitário?"] = dados2015.V0215
dados["Quantidade de banheiros"] = dados2015.V2016
dados["Forma de escoamento"] = dados2015.V0217
dados["Proveniência da água canalizada"] = dados2015.V0212

#dados

In [36]:
#Filtrando regiões
dados["Regiões"] = dados2015["UF"]
Norte = dados.Regiões[(dados2015.UF>=11) & (dados2015.UF<=17)]
Nordeste = dados.Regiões[(dados2015.UF>=21) & (dados2015.UF<=29)]
Sudeste = dados.Regiões[(dados2015.UF>=31) & (dados2015.UF<=35)]
Sul = dados.Regiões[(dados2015.UF>=41) & (dados2015.UF<=43)]
CentroOeste = dados.Regiões[(dados2015.UF>=50) & (dados2015.UF<=53)]

#Filtrando renda
dados["Rendimento mensal"] = dados["Rendimento mensal"][dados2015.V4621<=100000000]

In [59]:
dados["Regiões"] = dados["Regiões"].astype('category')
dados["Regiões"].cat.categories = ('Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará',
                              'Amapá', 'Tocantins', 'Maranhão','Piauí', 'Ceará',
                              'Rio Grande do Norte','Paraíba', 'Pernambuco', 'Alagoas', 
                              'Sergipe', 'Bahia', 'Minas Gerais', 'Espírito Santo', 
                              'Rio de Janeiro', 'São Paulo', 'Paraná', 'Santa Catarina', 
                              'Rio Grande do Sul','Mato Grosso do Sul', 'Mato Grosso', 'Goiás', 
                              'Distrito Federal')

dados["Domicílio"] = dados["Domicílio"].astype('category')
dados["Domicílio"].cat.categories = ('Casa', 'Apartamento', 'Cômodo')

dados["Quantidade de Cômodos"] = dados["Quantidade de Cômodos"].astype('float')

dados["Condição de ocupação"] = dados["Condição de ocupação"].astype('category')
dados["Condição de ocupação"].cat.categories = ('Próprio(pago)', 'Próprio(pagando)', 'Alugado',
                                                'Cedido por empregador', 'Cedido de outra forma',
                                                'Outras condições')

dados["Rendimento mensal"] = dados["Rendimento mensal"].astype('float')

dados["Banheiro/sanitário?"] = dados["Banheiro/sanitário?"].astype('category')
dados["Banheiro/sanitário?"].cat.categories = ('Sim','Não')

dados["Quantidade de banheiros"] = dados["Quantidade de banheiros"].astype('float')

dados["Forma de escoamento"] = dados["Forma de escoamento"].astype('category')
dados["Forma de escoamento"].cat.categories = ('Rede de esgoto', 'Fossa séptica ligada a rede coletora', 
                                               'Fossa séptica não ligada a rede coletora', 'Fossa rudimentar', 'Vala', 
                                               'Direto para rios/lagos/mar', 'Outra forma')

dados["Proveniência da água canalizada"] = dados["Proveniência da água canalizada"].astype('category')
dados["Proveniência da água canalizada"].cat.categories = ('Rede geral de distribuição',
                                                           'Poço ou nascente', 'Outra proveniência')

In [46]:
#Tirando NaN das colunas -> dados.dropna(subset = ['coluna_1', 'coluna_2'])
dados = dados.dropna()

In [58]:
domicilio_absoluto = dados["Domicílio"].value_counts()
print("Freq absoluta:\n", domicilio_absoluto, '\n')


domicilio_relativo = (dados["Domicílio"].value_counts(True)*100).round(decimals=1)
print("Freq relativa:\n", domicilio_relativo)

Freq absoluta:
 Casa           95436
Apartamento    13202
Cômodo           246
Name: Domicílio, dtype: int64

Freq relativa:
 Casa           87.6
Apartamento    12.1
Cômodo          0.2
Name: Domicílio, dtype: float64

In [60]:
comodos_absoluto = dados["Quantidade de Cômodos"].value_counts()
print("Freq absoluta:\n", comodos_absoluto, '\n')


comodos_relativo = (dados["Quantidade de Cômodos"].value_counts(True)*100).round(decimals=1)
print("Freq relativa:\n", comodos_relativo)

Freq absoluta:
 5.0     32611
6.0     22937
4.0     15190
7.0     13692
8.0      7940
3.0      6091
9.0      3822
10.0     2343
2.0      1422
11.0     1087
12.0      775
13.0      322
14.0      234
15.0      159
16.0       87
18.0       48
17.0       43
20.0       27
19.0       22
22.0       12
23.0        9
21.0        4
25.0        2
28.0        2
27.0        1
24.0        1
26.0        1
Name: Quantidade de Cômodos, dtype: int64

Freq relativa:
 5.0     30.0
6.0     21.1
4.0     14.0
7.0     12.6
8.0      7.3
3.0      5.6
9.0      3.5
10.0     2.2
2.0      1.3
11.0     1.0
12.0     0.7
13.0     0.3
14.0     0.2
15.0     0.1
16.0     0.1
18.0     0.0
17.0     0.0
20.0     0.0
19.0     0.0
22.0     0.0
23.0     0.0
21.0     0.0
25.0     0.0
28.0     0.0
27.0     0.0
24.0     0.0
26.0     0.0
Name: Quantidade de Cômodos, dtype: float64

In [62]:
ocupacao_absoluto = dados["Condição de ocupação"].value_counts()
print("Freq absoluta:\n", ocupacao_absoluto, '\n')


ocupacao_relativo = (dados["Condição de ocupação"].value_counts(True)*100).round(decimals=1)
print("Freq relativa:\n", ocupacao_relativo)

Freq absoluta:
 Próprio(pago)            76359
Alugado                  20084
Próprio(pagando)          5117
Cedido de outra forma     5113
Cedido por empregador     1940
Outras condições           271
Name: Condição de ocupação, dtype: int64

Freq relativa:
 Próprio(pago)            70.1
Alugado                  18.4
Próprio(pagando)          4.7
Cedido de outra forma     4.7
Cedido por empregador     1.8
Outras condições          0.2
Name: Condição de ocupação, dtype: float64

In [63]:
banheiro_absoluto = dados["Banheiro/sanitário?"].value_counts()
print("Freq absoluta:\n", banheiro_absoluto, '\n')


banheiro_relativo = (dados["Banheiro/sanitário?"].value_counts(True)*100).round(decimals=1)
print("Freq relativa:\n", banheiro_relativo)

Freq absoluta:
 Sim    108884
Não         0
Name: Banheiro/sanitário?, dtype: int64

Freq relativa:
 Sim    100.0
Não      0.0
Name: Banheiro/sanitário?, dtype: float64

In [64]:
quatbanheiro_absoluto = dados["Quantidade de banheiros"].value_counts()
print("Freq absoluta:\n", quatbanheiro_absoluto, '\n')


quatbanheiro_relativo = (dados["Quantidade de banheiros"].value_counts(True)*100).round(decimals=1)
print("Freq relativa:\n", quatbanheiro_relativo)

Freq absoluta:
 1.0     80395
2.0     21361
3.0      5031
4.0      1353
5.0       503
6.0       178
7.0        49
8.0        12
10.0        1
9.0         1
Name: Quantidade de banheiros, dtype: int64

Freq relativa:
 1.0     73.8
2.0     19.6
3.0      4.6
4.0      1.2
5.0      0.5
6.0      0.2
7.0      0.0
8.0      0.0
10.0     0.0
9.0      0.0
Name: Quantidade de banheiros, dtype: float64

In [65]:
escoamento_absoluto = dados["Forma de escoamento"].value_counts()
print("Freq absoluta:\n", escoamento_absoluto, '\n')


escoamento_relativo = (dados["Forma de escoamento"].value_counts(True)*100).round(decimals=1)
print("Freq relativa:\n", escoamento_relativo)

Freq absoluta:
 Rede de esgoto                              61852
Fossa séptica não ligada a rede coletora    19124
Fossa rudimentar                            16574
Fossa séptica ligada a rede coletora         8423
Direto para rios/lagos/mar                   1613
Vala                                         1196
Outra forma                                   102
Name: Forma de escoamento, dtype: int64

Freq relativa:
 Rede de esgoto                              56.8
Fossa séptica não ligada a rede coletora    17.6
Fossa rudimentar                            15.2
Fossa séptica ligada a rede coletora         7.7
Direto para rios/lagos/mar                   1.5
Vala                                         1.1
Outra forma                                  0.1
Name: Forma de escoamento, dtype: float64

In [66]:
prov_absoluto = dados["Proveniência da água canalizada"].value_counts()
print("Freq absoluta:\n", prov_absoluto, '\n')


prov_relativo = (dados["Proveniência da água canalizada"].value_counts(True)*100).round(decimals=1)
print("Freq relativa:\n", prov_relativo)

Freq absoluta:
 Rede geral de distribuição    95053
Poço ou nascente              13354
Outra proveniência              477
Name: Proveniência da água canalizada, dtype: int64

Freq relativa:
 Rede geral de distribuição    87.3
Poço ou nascente              12.3
Outra proveniência             0.4
Name: Proveniência da água canalizada, dtype: float64

___
## Conclusão

Descreva aqui suas conclusões!